.panel-custom {
    border-color: #211f1e!important;
}
.panel-custom-heading {
    background-color: #211f1e;
}
.btn-custom {
  background-color: #F46E42!important;
  border-color: #F46E42!important;
}
