{% extends 'base.html' %}
{% block title %}Lista de Itens{% endblock %}
{% block head %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/panel-custom.css' %}" type="text/css"/>
{% endblock %}
{% block body %}
{% include 'navbar.html' %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-custom">
            <div class="panel-heading panel-custom-heading">
              <h5 class="text-white">Itens</h5> 
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th class="text-center">#</th>
                          <th class="text-center">Discrição</th>
                          <th class="text-center">Valor</th>
                          <th class="text-center">Ações</th>
                        </tr>
                      </thead>
                      <div class="tbody">
                        {% for item in itens %}
                          <tr class="text-center">
                              <td class="col-md-2">{{ item.id }}</td>
                              <td class="col-md-4">{{ item.descricao }}</td>
                              <td class="col-md-3">{{ item.valor }}</td>
                              <td>
                                <a href='/item/edit/{{item.id}}/' class="btn btn-warning"> Alterar</a>
                                  <a href='{% url 'delete_item' item.id %}' class="btn btn-danger"> Excluir</a>
                              </td>
                          </tr>
                          {% empty %}
                            <h3 class="text-center">Não há itens cadastrados</h3>
                            <br />
                            <hr />
                        {% endfor %}
                      </div>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
